@import './palette.css';

:root{
  --spacing: 10px;
  --icon-size: 38px;
  --icon-size-tablet: 30px;
  --icon-size-mobile: 24px;
}


/* Overall scenechanger wrapper */
.mnv-ec-scenechanger-own-wrapper {
  height: 30px;
  width: 50%;
  padding: 0;
  margin: 0;
  background-color: none;
}

/* Arrows */
.mnv-ec-scenechanger-arrow-wrapper-left { 
  float: left;
  height: 100%;
  width: 30px;
  margin: 0 20px 0 0;
}
.mnv-ec-scenechanger-arrow-wrapper-right { 
  float: right;
  height: 100%;
  width: 30px;
  margin: 0 0 0 20px;
}
.mnv-ec-scenechanger-arrow-wrapper-left svg { 
  width: 30px;
  height: 30px;
}
.mnv-ec-scenechanger-arrow-wrapper-right svg { 
  width: 30px;
  height: 30px;
}
.mnv-ec-scenechanger-arrow-wrapper-left:hover { 
  background: red;
}
.mnv-ec-scenechanger-arrow-wrapper-right:hover { 
  background: red;
}
.arrow-hidden {
  opacity:0;
}

/* Dots */
.mnv-ec-scenechanger-alldots-wrapper {
  overflow:hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content:space-between;
}
/* Wrapper for one dot */
.mnv-ec-scenechanger-onedot-wrapper {
  width: 30px;
  height: 100%;
  padding:0;
  margin:0;
  background-color: none;
  display: flex;
  justify-content:center;
  align-items:center;
  display: -webkit-flex;
  -webkit-justify-content:center;
  -webkit-align-items:center;
}
.mnv-ec-scenechanger-onedot-wrapper:hover {
  background-color: red;
}
/* Actual dot */
.mnv-ec-scenechanger-dot {
  width: 0;
  height: 0;
  border-radius: 10px;
  background-color: #dadada;
  border: solid 10px #dadada;
}
.mnv-ec-scenechanger-dot:after {
  content:"";
}
.dot-highlight {
  border-color: red;
}
