/* Overall scenechanger wrapper */
.SceneChanger {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: inherit;
}

/* Arrows */
.SceneChanger-arrow-left,
.SceneChanger-arrow-right {
  float: left;
  height: 100%;
  width: 30px;
  margin: 0 20px 0 0;
  cursor: pointer;
}
.SceneChanger-arrow-right {
  float: right;
  margin: 0 0 0 20px;
}
.SceneChanger-arrow-left svg,
.SceneChanger-arrow-right svg {
  margin: -15px 0 0 -15px;
}
.SceneChanger-arrow-left:hover,
.SceneChanger-arrow-right:hover {
  background: #e3120b;
}
.SceneChanger-arrow-hidden {
  opacity:0;
}

/* Dots */
.SceneChanger-alldots {
  overflow:hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content:space-between;
}
/* Wrapper for one dot */
.SceneChanger-onedot-wrapper {
  position:relative;
  width: 30px;
  height: 30px;
  padding:0;
  margin:0;
  background-color: none;
}
.SceneChanger-onedot-wrapper:hover {
  background-color: #e3120b;
}
/* Actual dot */
.SceneChanger-dot {
  width: 0.1px;
  height: 0.1px;
  border: solid 10px #dadada;
  border-radius: 10px;
  background-color: #dadada;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10.05px 0 0 -10.05px;
}
.SceneChanger-dot-highlight {
  border-color: #e3120b;
}
