.scene-changer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: inherit;
}

.scene-changer__arrow {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  background: transparent;
  border: 0 none;
  transition: opacity 0.3s linear;
}

.scene-changer__arrow .Icon {
  width: 30px;
  height: 30px;
}

.scene-changer__arrow:hover {
  background: #e3120b;
}

.scene-changer__arrow--left {
  float: left;
  margin: 0 20px 0 0;
}

.scene-changer__arrow--right {
  float: right;
  margin: 0 0 0 20px;
}

.scene-changer__arrow--active {
  opacity: 1;
}

.scene-changer__arrow--inactive {
  opacity: 0;
}

.scene-changer__dots {
  overflow: hidden;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.scene-changer__dot {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  background: transparent;
  border: 0 none;
}

.scene-changer__dot:hover {
  background-color: #e3120b;
}

.scene-changer__dot::after {
  content: '.';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.1px;
  height: 0.1px;
  margin: -10.05px 0 0 -10.05px;
  background-color: #dadada;
  border: solid 10px #dadada;
  border-radius: 10px;
}

.scene-changer__dot--active::after {
  border-color: #e3120b;
}

.scene-changer__dot--active:hover::after {
  border-color: #dadada;
}
